---
import Layout from '../layouts/Layout.astro';

import "@fontsource/roboto-mono";
import "@fontsource/open-sans";

import { getEvents } from '../util/getEvents';

import NextMeeting from '../components/NextMeeting.astro';
import RemindDialog from '../components/RemindDialog.astro';

import ContentSection from '../components/ContentSection.astro';
import MemberResources from '../components/MemberResources.astro';
import EventList from '../components/EventList/index.astro';
import MemberList from '../components/MemberList/index.astro';

import {Content as About} from '../content/index/about.md';
import {Content as Contact} from '../content/index/contact.md';
import { MEMBERS } from '../config/members';
import CompanyList from '../components/CompanyList.astro';
import ResourcesOverlay from '../components/ResourcesOverlay.astro';
const events = await getEvents();
---

<style>
	.hero {
		height: 500px;
		position: relative;
		padding: 30px 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: "Open Sans", sans-serif;
		background-image: radial-gradient(rgba(235, 235, 235, .1) 2px, transparent 0);
		background-size: 20px 20px;
	}
	.hero * {
		color: white;
		text-align: center;
	}
	.hero::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: url("/hero.jpeg");
		background-size: cover;
		background-position: center;
		filter: brightness(30%);
	}
	h1 {
		font-family: "Roboto Mono", monospace;
		margin-bottom: 0;
	}
	h2 {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	@media (max-width: 800px) {
		h1 {
			font-size: 30px;
		}
		h2 {
			margin-top: 40px;
			font-size: 25px;
		}
	}
</style>

<Layout 
	title="LeetCode Club UW | Home" 
	description="Your journey to a top tech internship starts here."
	>

	<div class="hero">
		<h1>Your journey to a <b>top tech internship</b> starts here.</h1>
		<h2><i>Next Meeting:</i></h2>
		<NextMeeting events={events} />
	</div>

	<MemberResources />

	<ContentSection id="schedule" heading="Meeting Schedule">
		<EventList events={events} />
	</ContentSection>

	<ContentSection id="about" heading="About">
		<About />
	</ContentSection>

	<ContentSection id="team" heading="Our Team">
		<CompanyList />
		<MemberList members={MEMBERS} />
	</ContentSection>

	<ContentSection id="contact" heading="Contact">
		<Contact />
	</ContentSection>

	<RemindDialog />
	<ResourcesOverlay events={events} />
</Layout>