---
import Layout from '../layouts/Layout.astro';

import "@fontsource/roboto-mono";
import "@fontsource/open-sans";
import getEvents from '../util/getEvents';
import NextMeeting from '../components/NextMeeting.astro';

const calData = await getEvents();
---

<style>
	.hero {
		height: 500px;
		position: relative;
		padding: 30px 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: "Open Sans", sans-serif;
	}
	.hero * {
		color: white;
		text-align: center;
	}
	.hero::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: url("/hero.jpg");
		background-size: cover;
		background-position: center;
		filter: brightness(60%);
	}
	h1 {
		font-family: "Roboto Mono", monospace;
		margin-bottom: 0;
	}
	h2 {
		margin-top: 2px;
	}
</style>

<Layout 
	title="Welcome to Astro." 
	description="Your journey to an SWE Internship starts here."
	>
	<div class="hero">
		<h1>Your journey to an <b>SWE Internship</b> starts here.</h1>
		<h2><i>Next Meeting:</i></h2>
		<NextMeeting />
	</div>
	<p>{JSON.stringify(calData)}</p>
	<p>test!</p>
</Layout>