---
import Layout from '../layouts/Layout.astro';

import "@fontsource/roboto-mono";
import "@fontsource/open-sans";
import NextMeeting from '../components/NextMeeting.astro';
import RemindDialog from '../components/RemindDialog.astro';
import MemberResources from '../components/MemberResources.astro';
import ContentSection from '../components/ContentSection.astro';
import getEvents from '../util/getEvents';
import Event from '../components/Event.astro';
import ClubMember from '../components/ClubMember.astro';
const events = await getEvents();
---

<style>
	.hero {
		height: 500px;
		position: relative;
		padding: 30px 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: "Open Sans", sans-serif;
		background-image: radial-gradient(rgba(235, 235, 235, .1) 2px, transparent 0);
		background-size: 20px 20px;
	}
	.hero * {
		color: white;
		text-align: center;
	}
	.hero::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: url("/hero.png");
		background-size: cover;
		background-position: center;
		filter: brightness(30%);
	}
	h1 {
		font-family: "Roboto Mono", monospace;
		margin-bottom: 0;
	}
	h2 {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	@media (max-width: 800px) {
		h1 {
			font-size: 30px;
		}
		h2 {
			margin-top: 40px;
			font-size: 25px;
		}
	}

	.calendar-iframe {
		border-width:0;
		height: 400px;
		width: 100%;
	}

	.event-key {
		display: flex;
		flex-wrap: wrap;
	}
	.key-item {
		display: flex;
		flex-shrink: 0;
		margin-right: 20px;
	}
	.key-item p {
		margin: 0;
	}
	.key-color {
		flex-shrink: 0;
		height: 15px;
		width: 15px;
		margin-right: 10px;
		border: none;
		border-radius: 3px;
		transform: translateY(4px);
	}
	.key-color.green {
		background-color: var(--green);
	}
	.key-color.purple {
		background-color: var(--purple);
	}
	.no-meetings {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 150px;
		width: 100%;
		background-color: rgb(235, 235, 235);
		border-radius: 5px;
	}
	.no-meetings img {
		height: 50px;
	}
	.no-meetings h4 {
		margin: 10px 0 0;
		font-family: "Open Sans", sans-serif;
	}

	.contact-list {
		display: flex;
		flex-wrap: wrap;
	}
</style>

<Layout 
	title="LeetCode Club UW | Home" 
	description="Your journey to a SWE internship starts here."
	>

	<div class="hero">
		<h1>Your journey to a <b>SWE internship</b> starts here.</h1>
		<h2><i>Next Meeting:</i></h2>
		<NextMeeting />
	</div>

	<MemberResources />

	<ContentSection id="schedule" heading="Meeting Schedule">
		{events.map((event) => (<Event event={event} />))}

		{events.length === 0 && (
			<div class="no-meetings">
				<img src="/clock-2.svg" alt="Clock icon" />
				<h4>No meetings scheduled</h4>
			</div>
		)}

		{events.length > 0 && (
			<div class="event-key">
				<div class="key-item">
					<div class="key-color green"></div>
					<p>Bi-Weekly LeetCode Sessions</p>
				</div>
				<div class="key-item">
					<div class="key-color purple"></div>
					<p>Special Meetings/Events</p>
				</div>
			</div>
		)}
	</ContentSection>

	<ContentSection id="about" heading="About">
		LeetCode Club UW is a student group that prepares students for software engineering internships 
		and jobs. All skill levels welcome!<br/><br/>
		During our primary meetings, we work through one or more LeetCode problems, explore their optimal 
		solutions and algorithm patterns, and leave attendees with similar problems to work through on their 
		own time. We also have supplemental meetings to review resumés, learn about the typical software 
		engineering interview process, and hold Q&A's with students who have secured internships in the past.	
	</ContentSection>

	<ContentSection id="contact" heading="Contact">
		Feel free to reach out! (something about recruiting guest speakers)
		<div class="contact-list">
			<ClubMember 
				name="Max Maeder"
				role="Co-founder"
				email="max@leetcodeclub.org"
				photo="/max.jpeg"
			/>
			<ClubMember 
				name="Jeremy Kintana"
				role="Co-founder"
				email="jeremy@leetcodeclub.org"
				photo="/jeremy.jpeg"
			/>
			<ClubMember 
				name="Rahul Hathwar"
				role="Executive team"
				email="rahul@leetcodeclub.org"
				photo="/rahul.jpeg"
			/>
			<ClubMember 
				name="Sarthak Agrawal"
				role="Executive team"
				email="sarthak@leetcodeclub.org"
				photo="/sarthak.jpeg"
			/>
		</div>
	</ContentSection>

	<RemindDialog />
</Layout>