---
import EventDate from "./EventDate.astro";
const { event } = Astro.props;
---

<style>
  h3 {
    margin-bottom: 0;
  }
  .event {
    border-left: 2px solid black;
    padding-left: 10px;
  }
  .event.purple {
    border-left-color: var(--purple);
  }
  .event.purple h3 {
    color: var(--purple);
  }
  .event.green {
    border-left-color: var(--green);
  }
  .event.green h3 {
    color: var(--green);
  }
  .date {
    margin-top: 0;
  }
</style>

<div class=`event ${event.color === "P" ? "purple" : "green"}`>
  <h3>{event.summary}</h3>
  <p class="date"><i><EventDate event={event} /><br>{event.location}</i></p>
  <p>{event.description}</p>
</div>