---
import "@fontsource/roboto-mono";
import "@fontsource/open-sans";
---

<style>
  * {
    font-family: "Open Sans", sans-serif;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid var(--red);
    background-image: radial-gradient(rgb(235, 235, 235) 2px, white 0);
    background-size: 20px 20px;
    margin-top: 50px;
    padding: 30px 20% 50px;
  }
  .logo {
    height: 60px;
  }
  h2 {
    margin-top: 30px;
  }
  .form {
    display: flex;
  }
  .form * {
    margin: 0 5px;
  }
  .form button {
    padding: 8px 15px;
    color: white;
    background-color: var(--red);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.2s;
    cursor: pointer;
  }
  .form button:hover {
    color: rgba(255, 255, 255, .5);
  }
  .form input {
    padding: 5px 10px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    width: 250px;
  }
  .social-links {
    /*margin-top: 20px;*/
  }
  .social-links a {
    text-decoration: none;
  }
  .social-links img {
    height: 40px;
    margin: 30px 10px 0;
    transition: opacity 0.2s;
  }
  .social-links img:hover {
    opacity: .5;
  }
  @media (max-width: 800px) {
    .container {
      margin-top: 30px;
    }
    .logo {
      display: none;
    }
  }
</style>

<div class="container">
  <img class="logo" src="/logo.svg" alt="LeetCode Club Logo" />
  <h2>Join our Mailing List!</h2>
  <form class="form" action="https://leetcodeclub.us21.list-manage.com/subscribe/post?u=53d0a5023cce7f310e6bfa082&amp;id=095bca25cb&amp;f_id=007654e1f0" method="post" target="_blank">
    <input type="email" name="EMAIL" placeholder="Your email..." />
    <button type="submit">Submit</button>
  </form>
  <div class="social-links">
    <a href="https://discord.gg/ZtfrZ2HNpf" target="_blank">
      <img src="/discord.svg" alt="Discord icon" />
    </a>
    <a href="https://www.instagram.com/leetcodeclub/" target="_blank">
      <img src="/instagram.svg" alt="Instagram icon" />
    </a>
  </div>
</div>