---
import "@fontsource/open-sans";
import { SOCIAL_LINKS } from "../config/links";

const discord = SOCIAL_LINKS.find(({ name }) => name === "Discord")
---

<style>
  #header-container {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px 30px;
    box-sizing: content-box;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    font-family: "Open Sans", sans-serif;
  }
  #logo {
    height: 100%;
  }
  #menu-items {
    display: flex;
    align-items: center;
  }
  #menu-items li {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
  }
  #menu-items li.action {
    padding: 8px 15px;
    color: white;
    background-color: var(--red);
    border-radius: 5px;
  }
  .discord {
    background-color: #7289da !important;
  }
  .discord img {
    vertical-align: middle;
    transform: translateY(-1px) scale(130%);
    height: 22px;
    margin-right: 15px;
    filter: invert(1);
  }
  #menu-items a {
    color: unset;
    text-decoration: none;
    transition: opacity 0.2s;
    cursor: pointer;
  }
  #menu-items a:hover {
    opacity: .5;
  }
  @media (max-width: 800px) {
    #header-container {
      justify-content: center;
    }
    #menu-items {
      display: none;
    }
  }
</style>

<div id="header-container">
  <img id="logo" src="/logo.svg">
  <div id="menu-items">
    <ul>
      <li><a href="#schedule">Schedule</a></li>
      <li><a href="#about">About</a></li>
      <li class="action remind-open"><a>Get Involved</a></li>
      <li class="action discord"><a href={discord.href} target="_blank"><img src="discord.svg"/>Discord</a></li>
    </ul>
  </div>
</div>