
---
import "@fontsource/open-sans";
---

<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--gray);
    height: 80px;
    font-family: "Open Sans", sans-serif;
  }
  .container span {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .container img {
    margin-left: 5px;
    height: 25px;
    transform: translateY(2px);
  }
  .container a {
    margin: 0 10px;
    padding: 8px 15px;
    color: white;
    background-color: var(--red);
    border-radius: 5px;
    text-decoration: none;
    transition: color 0.2s;
  }
  .container a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  @media (max-width: 800px) {
    .container {
      flex-direction: column;
      height: unset;
      padding: 20px;
    }
    .container span {
      font-size: 20px;
      display: block;
      text-align: center;
      margin: 0 0 20px;
    }
    .container img {
      display: none;
    }
  }
</style>

<div class="container">
  <span>Member resources<img src="/right-arrow.svg" alt="Arrow" /></span>
  <div>
    <a href="https://win.wisc.edu/organization/leetcode-uw" target="_blank">Register on WIN</a>
    <a href="https://forms.gle/XGu5ikFZKBnbiExh6" target="_blank">Attendance form</a>
  </div>

</div>