---
import "@fontsource/open-sans";
import getEvents from "../util/getEvents";
import EventDate from "./EventDate.astro";
const events = await getEvents();
const nextEvent = events[0] || { summary: "No meetings scheduled" };
---

<style>
  * {
    font-family: "Open Sans", sans-serif;
  }
  .container {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
  }
  .event-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event-info p {
    margin: 0;
  }
  .event-info .title {
    font-weight: bold;
    font-size: 20px;
  }
  .event-info .date {
    margin-top: 5px;
  }
  .remind {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    padding: 8px 15px;
    color: white;
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.2s;
    cursor: pointer;
  }
  .remind img {
    height: 20px;
    transition: opacity 0.2s;
  }
  .remind:hover img {
    opacity: 0.5;
  }
  .remind:hover {
    color: rgba(255, 255, 255, .5);
  }
  @media (max-width: 800px) {
    .container {
      margin-left: -20px;
      margin-right: -20px;
    }
    .remind {
      margin-left: 20px;
    }
  }
</style>

<div class="container">
  <div class="event-info">
    <p class="title">{nextEvent.summary}</p>
    {nextEvent.start
      ? (<p class="date"><i><EventDate event={nextEvent} /><br>{nextEvent.location}</i></p>)
      : (<p class="date">Click to be reminded of new meetings</p>)
    }
  </div>
  <button class="remind remind-open"><img src="/clock.svg" alt="Clock icon" />Remind Me</button>
</div>