---
import "@fontsource/roboto-mono";
import "@fontsource/open-sans";
import { SOCIAL_LINKS, MAILCHIMP_URL } from "../config/social";
---

<style>
  * {
    font-family: "Open Sans", sans-serif;
    margin: 0;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
  }
  :global(.show-remind) .container {
    opacity: 1;
    pointer-events: unset;
  }
  .dialog {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: white;
  }
  .close {
    position: absolute;
    border: none;
    background: none;
    padding: 0;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  .close img {
    height: 30px;
  }
  .methods {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .methods div {
    flex: 1 1 0px;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid var(--gray);
    background-color: white;
    padding: 20px;
    padding-bottom: 60px;
    margin: 0 10px;
  }
  .methods img {
    height: 30px;
    margin-bottom: 5px;
    opacity: .6;
  }
  .methods h4 {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .methods button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    padding: 3px;
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.2s;
    cursor: pointer;
  }
  .methods input {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid var(--gray);
    border-radius: 2px;
  }
  .methods button:hover {
    color: rgba(255, 255, 255, .5);
  }
  h2 {
    font-family: "Roboto Mono", monospace;
  }
  h3 {
    margin-top: 15px;
  }
  @media (max-width: 800px) {
    .dialog {
      height: 100%;
      border-radius: 0;
      padding-top: 50px;
      background-image: radial-gradient(rgb(235, 235, 235) 2px, white 0);
      background-size: 20px 20px;
    }
    .close {
      top: 15px;
      right: 15px;
    }
    .close img {
      height: 45px;
    }
    .methods {
      flex-direction: column;
    }
    .methods div {
      margin: 10px 0;
    }
  }
</style>

<div id="remind-dialog" class="container">
  <div class="dialog">
    <button class="close"><img src="/close.svg" alt="Close dialog" /></button>
    <h2>Get reminders about meetings</h2>
    <h3><i>Choose an option</i></h3>
    <div class="methods">
      <div>
        <img src="/mail.svg" alt="Mail icon" />
        <h4>Get an email</h4>
        <form action={MAILCHIMP_URL} method="post" target="_blank">
          <input type="email" name="EMAIL" placeholder="Your email..." />
          <button type="submit">Submit</button>
        </form>
      </div>
      <div>
        <img src="/discord.svg" alt="Discord icon" />
        <h4>Join our Discord</h4>
        <button class="goto-cal">Open Server</button>
      </div>
    </div>
  </div>  
</div>

<script>import { SOCIAL_LINKS } from "../config/social";

  const dialog = document.getElementById("remind-dialog");
  const close = () => document.body.classList.remove("show-remind");

  for (let el of document.querySelectorAll(".close, #remind-dialog button")) {
    el.addEventListener("click", close);
  }
  dialog.addEventListener("click", (event) => {
    if (event.target !== dialog) return;
    close();
  });

  document.querySelector(".goto-cal").addEventListener("click", () => {
    const discord = SOCIAL_LINKS.find(({ name }) => name === "Discord")
    window.open(discord.href, "_blank");
  });
</script>