---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-ND7Q8N6QYJ"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-ND7Q8N6QYJ');
		</script>
	</head>
	<body>
		<Header />
		<div id="page-container">
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--red: rgb(197, 6, 12);
		--gray: rgb(24, 24, 24);
		--purple: #710193;
    --green: #228C22;
	}
	html, body {
		margin: 0;
		height: 100%;
	}
	body.show-remind {
		overflow: hidden;
	}
	#page-container {
		padding-top: 50px;
	}
	* {
		box-sizing: border-box;
	}
</style>

<script>
	for (let el of document.querySelectorAll(".remind-open")) {
		el.addEventListener("click", () => {
			document.body.classList.add("show-remind");
		});
	}
</script>